<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mySection" type="TFSTaskCreator.MySection, TFSTaskCreator" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
    <appSettings>
      <add key="tfsUrl" value=""/>
      <add key="userName" value=""/>
      <add key="password" value=""/>
      <add key="domain" value=""/>
      <add key="maxPriorityAllowed" value="10000"/>
    </appSettings>
  <mySection>
    <Tasks>
      <!--<Task project="Project3" title="Impact Analysis" activity="Design" state="To Do" areaPath="Project3\Sourcing"  team="Dev" remainingWork="0" />
      <Task project="Project3" title="Peer code review" activity="Design" state="To Do" areaPath="Project3\Sourcing"  team="Dev" remainingWork="0" />
      <Task project="Project3" title="Architect code review" activity="Design" state="To Do" areaPath="Project3\Sourcing"  team="Dev" remainingWork="0" />
      <Task project="Project3" title="Unit Testing" activity="Development" state="To Do" areaPath="Project3\Sourcing"  team="Dev" remainingWork="0" />
      <Task project="Project3" title="TC Writing" activity="Testing" state="To Do" areaPath="Project3\Sourcing"  team="Dev" remainingWork="0" />
      <Task project="Project3" title="TC Review" activity="Testing" state="To Do" areaPath="Project3\Sourcing"  team="Dev" remainingWork="0" />
      <Task project="Project3" title="Functional Testing" activity="Testing" state="To Do" areaPath="Project3\Sourcing"  team="Dev" remainingWork="0" />-->
    
  

      <Task project="Project2" title="Impact Analysis" activity="Design" state="To Do" areaPath="Project2\Path1"  team="Dev" remainingWork="0" />
      <Task project="Project2" title="Peer code review" activity="Design" state="To Do" areaPath="Project2\Path1"  team="Dev" remainingWork="0" />
      <Task project="Project2" title="Architect code review" activity="Design" state="To Do" areaPath="Project2\Path1"  team="Dev" remainingWork="0" />
      <Task project="Project2" title="Unit Testing" activity="Development" state="To Do" areaPath="Project2\Path1"  team="Dev" remainingWork="0" />
      <Task project="Project2" title="TC Writing" activity="Testing" state="To Do" areaPath="Project2\Path1"  team="Dev" remainingWork="0" />
      <Task project="Project2" title="TC Review" activity="Testing" state="To Do" areaPath="Project2\Path1"  team="Dev" remainingWork="0" />
      <Task project="Project2" title="Functional Testing" activity="Testing" state="To Do" areaPath="Project2\Path1"  team="Dev" remainingWork="0" />


    </Tasks>
  </mySection>
</configuration>